<div>
    <div class="navbar">
        <ul>
            {{#each routes}}
            <li><a href={{this.route}}>{{this.label}}</a></li>
            {{/each}}
        </ul>

        

    </div>

    <div>
        <h1>{{this.user.Name}}</h1>
        <a href="/api/sessions/logout"><button>Cerrar Sesion</button></a>
    </div>

    <div class="productsContainer">
        {{#each products}}
            <div class="cardProduct">
                <img src={{this.Image}}>
                <h3>{{this.Name}}</h3>
                <p>{{this.Description}}</p>
                <h2>${{this.Price}}</h2>
                <button onclick='AddCart("{{this._id}}","{{../this.user.Cart}}")'>Add To Cart</button>
            </div>
        {{/each}}
    </div>
</div>

<script src="/js/home.js"></script>

